==
<?php
function onStart()
{
    $this->addCss([
        'assets/css/bootstrap.min.css', 
        'assets/css/font-awesome.css', 
        'assets/css/templatemo-klassy-cafe.css',
        'assets/css/owl-carousel.css',
        'assets/css/lightbox.css'
        ]);

    $this->addJs([
        'assets/js/popper.js',
        'assets/js/bootstrap.min.js',
        'assets/js/owl-carousel.js',
        'assets/js/accordions.js',
        'assets/js/datepicker.js',
        'assets/js/scrollreveal.min.js',
        'assets/js/waypoints.min.js',
        'assets/js/jquery.counterup.min.js',
        'assets/js/imgfix.min.js',
        'assets/js/slick.js',
        'assets/js/lightbox.js',
        'assets/js/isotope.js',
        'assets/js/custom.js'
    ]);
}
?>
==
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

        <title>Klassy Cafe {% if title %} | {{ title }} {% endif %}</title>

        {% styles %}
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            <img src="{{"assets/images/klassy-logo.png"|theme}}" align="klassy cafe html template">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% if this.page.title == 'Index' %} #top {% else %} / {% endif %}" {% if this.page.title == 'Index' %} class="active" {% endif %}>Home</a></li>
                            <li class="scroll-to-section"><a href="{{ "menu"|page }}" {% if this.page.title == 'Menu' %} class="active" {% endif %}>Menu</a></li>
                            <li class="scroll-to-section"><a href="{{ "chefs"|page }}" {% if this.page.title == 'Chefs' %} class="active" {% endif %}>Chefs</a></li> 
                            <li class="scroll-to-section"><a href="{{ "reservations"|page }}" {% if this.page.title == 'Reservations' %} class="active" {% endif %}>Reservations</a></li>
                            <li class="scroll-to-section"><a href="{{ "contact-us"|page }}" {% if this.page.title == 'Contact-us' %} class="active" {% endif %}>Contact Us</a></li> 
                            <!--li class=""><a rel="sponsored" href="https://marco.laradex.com/" target="_blank">Marco CV</a></li-->
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    {% page %}
    
    <!-- ***** Footer Start ***** -->
    <footer class="{% if this.page.title == 'Contact-us' or this.page.title == 'Reservations' %} margin-top-zero {% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/white-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright Klassy Cafe Co.
                        
                        <br>Design: TemplateMo</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ 'assets/js/jquery-2.1.0.min.js'|theme }}"></script>
    {% scripts %}
    {% framework extras  %}

    {% put scripts %}
        <script>
            $(function() {
                var selectedClass = "";
                $("p").click(function(){
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                    $("#portfolio div").not("."+selectedClass).fadeOut();
                setTimeout(function() {
                  $("."+selectedClass).fadeIn();
                  $("#portfolio").fadeTo(50, 1);
                }, 500);
                    
                });
            });
        </script>
    {% endput %}
  </body>
</html>